.container
  p#status
    span Checking Flash version...

  #content
      

#font-detect-swf

script(src="/assets/font-detect/jquery-1.2.6.pack.js")
script(src="/assets/font-detect/swfobject.js")
script(src="/assets/font-detect/font-detect.js")
script(src="/installed-fonts.js")
script(src="/main.js" type="text/babel")
