.container
  p#status
    span Checking Flash version...

  .columns
    .one-fourth
      nav#fontnamelist.menu


#font-detect-swf

script(src="/assets/font-detect/jquery-1.2.6.pack.js")
script(src="/assets/font-detect/swfobject.js")
script(src="/assets/font-detect/font-detect.js")
script(src="/app.js")

script.
  $(function() {
    app = new App();
    console.log(app);
  });
